Lists
6.1 Properties of List

You can declare an empty list by simply using empty square brackets

ORDERED: maintains the order of elements

MUTABLE: Allows modification of elements

HETEROGENOUS: can contain different data types.

INDEXING: Supports accessing elements via indices.

SLICING: Enables extraction of sublists.

DUPLICATES: Permits multiple occurences of the same element.

BUILT-IN-METHODS: Offers various methods for manipulation.

In [1]:
my_list = []
print(my_list)
print(type(my_list))

[]
<class 'list'>

6.2 Declaration of list with elements

In [2]:
numbers = [1, 2, 3, 4]
fruits = ["apple", "banana", "cherry"]
mixed_elements = [1, "banana", 4, 65, "cherry"]

print(numbers)
print(fruits)
print(mixed_elements)

[1, 2, 3, 4]
['apple', 'banana', 'cherry']
[1, 'banana', 4, 65, 'cherry']

6.3 List of lists(Nested Lists)

In [3]:
nested_lists = [[1,2,3], ['a', 'b', 'c'], ["banana", "fathima", 2004], [True, False]]
print(nested_lists)
nested_lists[1][1]

[[1, 2, 3], ['a', 'b', 'c'], ['banana', 'fathima', 2004], [True, False]]

'b'

6.4 using the list() constructor

In [4]:
#converting a string to a list
str_list = list("Fathima")
print(str_list)

#converting a tuple into a list
tuple_list = list((1, 2, 3))
print(tuple_list)

#converting a list from i range
range_list = list(range(5))
print(range_list)

['F', 'a', 't', 'h', 'i', 'm', 'a']
[1, 2, 3]
[0, 1, 2, 3, 4]

In [ ]:
LIST OPERATION

In [ ]:
6.1 Accessing Elements.

In [5]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [6]:
print(my_list[0])
print(my_list[3])
print(my_list[-2]) #output :true(negative indexing starts from the end)

1
4
4

6.2 Modifying Elements

In [7]:
my_list[0] = 100
print(my_list)

[100, 2, 3, 4, 5]

In [8]:
my_list[-2] = 40
print(my_list)

[100, 2, 3, 40, 5]

6.3 APPENDING & EXTENDING LISTS

append(item): adds an item to the end of the list.

extend(iterable): adds all elements from an iterable(like anaother list)

In [9]:
print(my_list)
my_list.append("muskan")
print(my_list)

[100, 2, 3, 40, 5]
[100, 2, 3, 40, 5, 'muskan']

In [10]:
my_list.extend([4, 5, 6])
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5, 6]

6.4 INSERTING ELEMENTS

In [ ]:
use insert(index, item) to insert an item at a specific index.

In [11]:
print(my_list)
my_list.insert(1, "banana")
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5, 6]
[100, 'banana', 2, 3, 40, 5, 'muskan', 4, 5, 6]

6.5 REMOVING ELEMENTS

remove(item): removes the first occurence of the item.

pop(index): removes and returns the item at the given index. If no index is provided, it removes the last item

In [12]:
print(my_list)

[100, 'banana', 2, 3, 40, 5, 'muskan', 4, 5, 6]

In [13]:
my_list.remove("banana")
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5, 6]

In [14]:
my_list.insert(2, "cherry")
print(my_list)

[100, 2, 'cherry', 3, 40, 5, 'muskan', 4, 5, 6]

In [15]:
my_list.append("cherry")
print(my_list)

[100, 2, 'cherry', 3, 40, 5, 'muskan', 4, 5, 6, 'cherry']

In [16]:
my_list.remove("cherry")
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5, 6, 'cherry']

In [17]:
my_list.remove("cherry")
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5, 6]

In [18]:
my_list.pop(-1)
print(my_list)

[100, 2, 3, 40, 5, 'muskan', 4, 5]

6.6 LIST LENGTH

use len(list) to get number of elements in a list.

In [19]:
print(len(my_list))

8

6.7 LIST SLICING

you can slice lists using the syntax list[start:stop:step]

In [20]:
my_list

[100, 2, 3, 40, 5, 'muskan', 4, 5]

In [21]:
sliced_list = my_list[1:4]
print(sliced_list)

[2, 3, 40]

6.8 LIST SORTING

sort(): sorts the list in place.

sorted(list): returns a new sorted list.

In [22]:
#reverse = False -> Ascending order
#reverse = True -> Descending order
#sort(shift+tab)

numbers = [5, 2, 7, 1, 3]
numbers.sort(reverse = False)
print(numbers)

[1, 2, 3, 5, 7]

6.9 LIST COMPREHENSION

a concise way to create lists.

In [23]:
for my_list in range(10): #range -> number generator 
    print(my_list ** 2)

0
1
4
9
16
25
36
49
64
81

In [24]:
l= []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
print(my_list**2)

81

In [27]:
square = [my_list**2 for my_list in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

6.10 FILTERING WITH LIST COMPREHENSION

In [28]:
'''
for i in range(10):
    if i % 2 == 0:
        print(i)'''

#syntax: 
#[action for loop if condition]  
print([i for i in range(10) if i % 2 == 0])

[0, 2, 4, 6, 8]

In [29]:
x = [x for x in range(10) if x % 2 == 0]
print(x)

[0, 2, 4, 6, 8]

In [30]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

6.11 STRING COMPREHENSION WITH STRINGS

In [31]:
chars = [char for char in "hello"]
print(chars)

['h', 'e', 'l', 'l', 'o']

6.12 NESTED LOOPS IN LIST COMPREHENSION

In [ ]:
for x in range(3):
    for y in range(2):

In [35]:
pairs = [(x, y) for x in range(3) for y in range(2)]
print(pairs)

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

6.13 LIST COMPREHENSION WITH IF-ELSE

In [36]:
numbers = [x if x % 2 == 0 else -x for x in range(5)]
print(numbers)

[0, -1, 2, -3, 4]

In [37]:
for x in range(5):
    if x % 2 == 0:
        print(x)
    else:
        print(-x)

0
-1
2
-3
4

6.14 LIST MEMBERSHIP

use "in" to check if an item exists in a list

In [48]:
my_lists= [9, 10, 3, "muskan", 100, "fathima"]

print(my_lists)

[9, 10, 3, 'muskan', 100, 'fathima']

In [50]:
print("muskan" in my_lists)

True

In [51]:
print(100 in my_lists)

True

6.15 COPYING A LIST

list.copy() or list[:]: creates a shallow copy.

In [53]:
copied_lists = my_lists.copy()
copied_lists

[9, 10, 3, 'muskan', 100, 'fathima']

6.16 CLEARING A LIST

clear():removes all elements from the list.

In [54]:
my_lists.clear()
my_lists

[]