# TUPLES

Key Characteristics Of Tuples:

IMMUTABLE: Once a tuple is created, its element cannot be changed, added, or removed. This makes tuples suitable for storing data that should not be modified.

ORDERED: The items in a tuple have a defined order, meaning that you can access them using indexing(similar to lists)

HETEROGENOUS : A tuple can contain elements of different data types.

DEFINED BY PARANTHESIS: Tuple are created by plcing comma-separated values within paranthesis()

7.1 DECLARATION OF TUPLE

In [1]:
# A TUPLE WITH INTEGERS
my_tuple = (1, 2, 3, 4)

# A TUPLE WITH MIXED DATA TYPES
mixed_tuple = (1, "apple", 4, 7, False)

#A NESTED TUPLE
nested_tuple = (1, (2, 3), (6, 9), 5)

#AN EMPTY TUPLE
empty_tuple = ()

#A TUPLE WITH A SINGLE ELEMENT (note the trailing comma)
single_element_tuple = (42,)



print(my_tuple)
print(mixed_tuple)
print(nested_tuple)
print(empty_tuple)
print(single_element_tuple)

(1, 2, 3, 4)
(1, 'apple', 4, 7, False)
(1, (2, 3), (6, 9), 5)
()
(42,)

7.2 ACCESSING TUPLE ELEMENT

In [2]:
my_tuple = (1, 2, 3, 4, "banana")

print(my_tuple[1])
print(my_tuple[-1])

2
banana

7.3 Tuple Operations

In [3]:
tuple1 = (1, 2)
tuple2 = (3, 4)
concat = tuple1 + tuple2
print(concat)

(1, 2, 3, 4)

In [4]:
tuple1 =("Fathima")
tuple2 = ("Muskan")
concat = tuple1 +" "+ tuple2
print(concat)

Fathima Muskan

In [5]:
tuple1 = ("Noor Ul")
tuple2 = ("Huda")
concat = tuple1 + " " + tuple2
print(concat)

Noor Ul Huda

7.4 Repetition

In [6]:
my_tuple = (1, 2)
repeated = my_tuple * 3
print(repeated)

(1, 2, 1, 2, 1, 2)

7.5 Tuple Length:

In [8]:
print(len(my_tuple))

2