# SET

KEY CHARACTERISTICS OF SET:

UNORDERED: The element in a set do not have a defined order. you cannnot access items by their index, as u would with lists or tuples.

UNIQUE ELEMENTS: Sets automatically discard duplicate items. Each element in a set must be unique

MUTABLE: U can add or remove elements from a set after it has been created.

DEFINED BY CURLY BRACES: Sets are created using curly braces {} or the set() constructor

HETEROGENOUS : A set can contain elements of different data types.

#### 8.1 DECLARATION USING SET CONSTRUCTOR

In [2]:
# using the set() constructor
another_set = set([1, 2, 3, 4])
another_set

{1, 2, 3, 4}

In [3]:
print(type(another_set))

<class 'set'>

#### 8.2 DECLARATION OF SET WITH MIXED DATA TYPES

In [4]:
#a set with mixed data types
mixed_set = {1, "apple", 5, 9, 3.14, True, False}
print(mixed_set)

{False, 1, 3.14, 'apple', 5, 9}

## SET OPERATION

#### 8.1 ADDING ELEMENT

In [7]:
my_set = {1, 2, 3}
added_set = my_set.add(4)
print(my_set)

{1, 2, 3, 4}

#### 8.2 REMOVING ELEMENTS

In [8]:
my_set.remove(3)
print(my_set)

{1, 2, 4}

In [9]:
my_set
my_set.discard(1)

In [10]:
my_set

{2, 4}

#### 8.3 UNION

In [11]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

#### 8.4 INTERSECTION

In [12]:
intersection_set = set1.intersection(set2)
print(intersection_set)

{4}

#### 8.5 DIFFERENCE

In [13]:
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3}

#### 8.6 SYMMETRIC DIFFERENCE

In [14]:
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)

{1, 2, 3, 5, 6}