DATA OPERATORS IN PYTHON

Arithmetic Operators

In [1]:
x = 10
y = 3
print (x + y)
print (x - y)
print (x * y)
print (x / y)
print(x // y)    #floor division, quotient
print (x % y)    # modulus remainder
print (x ** y)   #(10 raised to power 3)

13
7
30
3.3333333333333335
3
1
1000

COMPARATIVE OPERATOR

In [2]:
x = 10
y = 5
print (x == y)
print (x != y)
print (x < y)
print (x > y)
print (x <= y)
print (x >= y)

False
True
False
True
False
True

ASSIGNMENT OPERATOR

In [3]:
# Simple Assignment
x = 10    
print(f"Initial value: {x}") # output :10 #"f" is formatting to read the variable "x" even after written under quotes


#Add and Assign (+=)
x += 5    # x = x + 5
print(f"After += 5: {x}") #output : 15


#Subtract and assign (-=)
x -= 3    # x = x - 3
print(f"After -= 3: {x}")  #output : 12


#Multiply and assign (*=)
x *= 2   #x = x * 2
print(f"After *= 2: {x}")  #output : 24


#Divide and assign (/=)
x /= 4   # x = x / 4
print(f"After /= 4: {x}") #output:6.0


#Floor Divide and assign (//=)
x //= 2  # x = x // 2
print(f"After //=2: {x}") #output: 3.0


#Modulus and assign (%=)
x %= 2   # x = x % 2
print(f"After %= 2: {x}") #output: 1.0


#Exponent and assign (**=)
x **= 3 # x = x ** 3
print (f"After **= 3: {x}")  #output: 1.0

Initial value: 10
After += 5: 15
After -= 3: 12
After *= 2: 24
After /= 4: 6.0
After //=2: 3.0
After %= 2: 1.0
After **= 3: 1.0

LOGICAL OPERATOR

In [5]:
x = 100
y = 20
z = 10

print((x > y) and (y < z))
print((x > y) and (y > x))
print((y > z) and (z < y))
print(not(x > y))
print(not(z > y))

False
False
True
False
True

TYPE CONVERSION

Implicit Type Conversion

In [4]:
x = 10
y = 3.5

# python automatically converts 'x' to a float to match 'y'
result = x + y

print(result)  #output: 13.5 (float)
print(type(result))

13.5
<class 'float'>

Explicit Type Conversion (Casting)

1. int(): Converts to an integer
2. float(): converts to a float
3. str(): Converts to a string
4. list(): Converts to a list
5. tuple(): Converts to a tuple
6. bool(): Converts to a boolean

In [6]:
num = "42"

int_sum = int(num) 
print(int_sum)
print(type(int_sum))

42
<class 'int'>

In [7]:
float_num = 7.8

int_sum = int(float_num)
print(int_sum)
print(type(int_sum))

7
<class 'int'>

In [8]:
price = "100.50" #string
quantity = 3

total_cost = float(price) * quantity
print(total_cost)

301.5